.login{
  border: 3px solid;
  border-color: green;
  margin-top: 100px;
  width: 300px;
  height: 400px;
  margin-left: 600px;
  background-color: white;
  border-radius: 10px;
  /*
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -50px 0 0 -50px;
  */
}

.Legend{
  display: flex;
  justify-content: center;
  color: green;
}

.info{
  display: flex;
  justify-content: center;
}

.loginInput{
  margin: 30px 0 30px 0;
}

img{
  margin-top: 90px;
  margin-bottom: -80px;
  margin-left: 608px;
  width: 280px;
}

body{
  margin: -49px -8px -46px -6px;
  background-image: url('../../assets/9eec3cd5c2a2064be3005409dca25f01.jpg');
  background-size: cover;
  background-position: center;
  height: 740px;
}
