h1 {
  font-size: 37px;
  text-decoration: underline green;
  font-weight: 600;
  background-image: linear-gradient(to left, #087862, green);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

body{
  padding: 0 2rem 2rem 2rem;
}

body{
  margin: -150px -8px -78px -6px;
  background-image: url('../../assets/9eec3cd5c2a2064be3005409dca25f01.jpg');
  background-size: cover;
  background-position: center;
  height: 770px;
}

img{
  height: 386px;
  width: 640px;
  display: inline-block;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
}
