.info-debiteur .info .label{
  color: green;
  font-weight: bold;
  margin-right: 10px;
  text-decoration: underline;
}

.label {
  color: green;
  margin-right: 10px;
  text-decoration: underline;
}

.info-debiteur {
  display: flex;
}

.info-risque {
  display: flex;
}

.row {
  display: block;
}

.info{
  margin: 0px 130px 60px 20px;
  display: flex;
}

.info-risque .info p{
  width: 100px;
}

p-dropdown{
  padding: 0px 1rem 0 0.5rem;
  width: 5.5rem;
}

.type label{
  margin-right: 2.4rem;
}

.type-input{
  margin-right: 10rem;
}

form .type{
  display: inline-flex;
}

.montant{
  margin-right: 10rem;
}

.selon-type{
  display: inline-flex;
}

.Enregistrement{
  margin-left: 1.5rem;
}

.Enregistrement label{
  margin-right: 1.6rem;
}

p-inputtext{
  width: 10px;
}

input {
  height: 40px;
  font: size 14px;
  padding-left: 5px;
  width: 200px;
}

label{
  margin-right: 20px;
}


.p-button-raised{
  margin-left: 88%;
  background-color: #0441a0;
}

.info-ctx {
  color: black;
  text-decoration: none;
}
